
<div class="row custom-border mb-2">
        <div class="col-md-2 pl-0 custom-border-right text-center ">
              <img src="assets/med.jpg" width="100px" height="100px"/>
        </div>
<!--detail-->
<div class="col-md-3 custom-border-right">

     <div class="row">

      <div class="col-md-1">
        <i class="bi bi-info-circle blue-color"></i>
      </div>
        <div class="col-md-10">Nom </div>

  </div>
<div class="row">
 <div class="col-md-1">
  <i class="bi bi-info-circle blue-color"></i>
</div>
  <div class="col-md-10">Prenom</div>
</div>
<div class="row">
 <div class="col-md-1"> <i class="bi bi-telephone blue-color"></i></div>
  <div class="col-md-10">001122334455</div>
</div>

</div>
<!------->
<div class="col-md-3 custom-border-right mb-1 mt-1">

  <div class="row">
    <div class="col-md-1">
      <i class="bi bi-house-door blue-color"></i>
    </div>
  <div class="col-md-10">Adresse 1 adresse 2 </div>
  </div>
<div class="row">
 <div class="col-md-1"><i class="bi bi-map blue-color"></i></div>
  <div class="col-md-10">12345 Ville</div>
</div>
<div class="row">
 <div class="col-md-1"><i class="bi bi-globe blue-color"></i></div>
  <div class="col-md-10">Pays</div>
</div>

</div>
<!--div class="col-md-3 custom-border-right mb-1 mt-1">
<div class="row">
  <div class="col-md-2">
    <i class=""></i>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">Code Categorie</div>
      <div class="col-md-12"></div>
    </div>
  </div>
</div>
</div-->
  <!--boutons-->

<div class="col-md-4 ">
  <div class="row mt-4">
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-success "><i class="bi bi-pencil "></i>&nbsp;Modifier</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-danger "><i class="bi bi-trash "></i>&nbsp;Supprimer</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-outline-info "><i class="bi bi-list "></i>&nbsp;Details</button>
    </div>
    </div>
</div>


