<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-outline-info">
    <i class="bi bi-chevron-double-left"></i>
  </button>
  <button type="button" class="btn btn-outline-info">
    <i class="bi bi-chevron-left"></i>
  </button>
  <button type="button" class="btn btn-outline-info">
    1
  </button>
  <button type="button" class="btn btn-outline-info">
    2
  </button>
  <button type="button" class="btn btn-outline-info">
    3
  </button>
  <button type="button" class="btn btn-outline-info">
    4
  </button>
  <button type="button" class="btn btn-outline-info">
    5
  </button>
  <button type="button" class="btn btn-outline-info">
    6
  </button>
  <button type="button" class="btn btn-outline-info">
    <i class="bi bi-chevron-right"></i>
  </button>

  <button type="button" class="btn btn-outline-info">
    <i class="bi bi-chevron-double-right"></i>
  </button>
</div>
