<div class="container">

  <div class="card m-3" style="width: 18rem;">
    <div class="text-center mt-2">
    <img src="assets/med.jpg" class="rounded-circle" width="100px" height="100px"/>
  </div>
    <div class="card-body">
      <h5 class="card-title">Nom Med</h5>
      <p class="card-text">
        pharmacie.ville
      </p>
      <p class="card-text">
        pharmacie.delegation
      </p>
      <button class="btn btn-primary" (click)="commander()">Commander</button>
    </div>
  </div>

  </div>


