<div class="row mb-1  mr-0   custom-border">


<!--detail-->
<div class="col-md-3 custom-border-right mb-1 mt-1">
  <div class="row text-center">

  <div class="col-md-11">12.12.2021</div>
</div>
</div>
<!--Quantité-->
<div class="col-md-3 custom-border-right mb-1 mt-1 ">
  <div class="row ">

  <div class="col-md-12 text-center">
    <h5> 149 quantité </h5>
  </div>
</div>
</div>
<!--details stock-->

<div class="col-md-3 custom-border-right mb-1 mt-1 ">
  <div class="row">
    <div class="col-md-12 text-center">
      <h5>Sortie</h5>
    </div>
  </div>
</div>
<!--boutons-->

<div class="col-md-3 mb-1 mt-1 ">
  <div class="row text-center ">

    <h5> Commande utilisateur</h5>
  </div>
</div>
</div>




