<div class="container my-container">
<div class="card justify-content-md-center">
  <div class="card-header">
    <div class="h3 text-center text-primary">Se Connecter</div>
  </div>
  <div class="card-body">
   <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<div class="mb-3 d-flex justify-content-between">
  <a [routerLink]="['/inscrire']" class="btn btn-link">S'inscrire</a>
  <button type="button" class="btn btn-primary"><i class="bi bi-check-lg">&nbsp;</i>Se Connecter</button>

</div>
</div>
</div>
</div>
